openapi: 3.0.3
info:
  title: Example API
  version: "1.0.0"
servers:
  - url: http://localhost:3000/v1
paths:
  /auth/register:
    post:
      summary: Register
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name,email,password]
              properties:
                name: { type: string }
                email: { type: string }
                password: { type: string }
      responses:
        '201': { description: Created }
  /auth/login:
    post:
      summary: Login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email,password]
              properties:
                email: { type: string }
                password: { type: string }
      responses:
        '200': { description: OK }
  /posts:
    get:
      summary: List posts
      responses:
        '200': { description: OK }
    post:
      summary: Create post (auth)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title, body]
              properties:
                title: { type: string }
                body: { type: string }
      responses:
        '201': { description: Created }
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
